* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .home-wrapper {
    width: 95.8vw;
    height: 99.5vh;
    background-color: #EBECEE;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .home-header {
    background-color: #fff;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .home-container {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
  .grid-container {
    width: 100%;
    display: flex;
    height: 100%;
  }
  .left-col {
    width: 50%;
    display: grid;
    grid-template-rows: 40% 25% 35%;
    gap: 20px;
    padding: 20px;
    padding-right: 10px;
  }
  .right-col {
    width: 50%;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 20px;
    padding: 20px;
    padding-left: 10px;
  }
  .top-right {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
    height: 100%;
  }
  .priority-col {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .overdue-pending {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 20px;
    height: 95%;
    width: 94%
  }
  .overdue-tasks,
  .pending-tasks {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }
  .grid-item,
  .active-projects,
  .general-overview,
  .completed-projects,
  .tasks-in-progress {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
  }
  .grid-item h2,
  .active-projects h2,
  .general-overview h2,
  .completed-projects h2,
  .tasks-in-progress h2,
  .priority-col h2,
  .overdue-tasks h2,
  .pending-tasks h2 {
    font-size: 14px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
  }