* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .home_wrapper {
    width: 95.8vw;
    height: 100vh;
   
    display: flex;
    flex-direction: column;

  }

  .home_header {
    background-color: #fff;
    height: 50px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  .home_container {
    flex: 1;
    display: flex;
    padding: 0 0px 40px 0px; 
  }

  .grid_container {
    width: 100%;
    display: flex;
    height: 100%;
  }

  .left_col {
    width: 50%;
    display: grid;
    grid-template-rows: 40% 25% 35%;
    gap: 20px;
    padding: 20px;
    padding-right: 10px;
  }

  .right_col {
    width: 50%;
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 40px;
    padding: 20px;
    padding-left: 10px;
  }

  .top_right {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    height: 100%;
  }

  .priority_col {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 95%;
  }

  .overdue_pending {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 20px;
    height: 90%;
    width: 94%
  }

  .overdue_tasks,
  .pending_tasks {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  .grid_item,
  .active_project,
  .general_overview,
  .completed_projects,
  .tasks_in_progress {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    padding: 20px;
  }

  .grid_item h2,
  .active_project h2,
  .general_overview h2,
  .completed_projects h2,
  .tasks_in_progress h2,
  .priority_col h2,
  .overdue_tasks h2,
  .pending_tasks h2 {
    font-size: 14px;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
  }